name: Build_Windows_EXE
on: 
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4 # Updated to v4

      - name: Set up Python
        uses: actions/setup-python@v5 # Updated to v5
        with:
          python-version: '3.10'

      - name: Install Dependencies
        run: |
          python -m pip install --upgrade pip
          pip install feedparser pandas textblob openpyxl pyinstaller
          python -m textblob.download_corpora

      - name: Build with PyInstaller
        run: pyinstaller --onefile --name "MediaMonitoring_V1" monitoring.py

      - name: Upload Artifact
        uses: actions/upload-artifact@v4 # Updated to v4
        with:
          name: Windows_Executable
          path: dist/MediaMonitoring_V1.exe
